*.egg-info
*.pyc
.env
.DS_Store
test.db
example.db
coverage.xml

.venv/
venv/
__pycache__/
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
coverage.xml
.vscode/
.uploads/
dist/
site/
.idea/

# Frontend
frontend/node_modules/
spa_sqladmin/statics/
